{
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-runtime",
    "emotion"
  ],
  "presets": [
  	"@babel/preset-react",
    ["@babel/preset-env", {
      "targets": {
        "browsers": [">0.1%", "safari >= 10", "ie >= 11"]
      }
    }]
  ]
}
