{
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    ["transform-runtime", {
      "polyfill": false,
    }],
  ],
  "presets": [
  	"react",
    ["env", {
      "targets": {
        "browsers": [">0.1%", "safari >= 10", "ie >= 11"]
      }
    }]
  ]
}
