{
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    ["transform-runtime", {
      "polyfill": false,
    }],
  ],
  "presets": [
  	"react",
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7", "ie >= 7"]
      }
    }]
  ]
}
