.wef_movieEditor_dialog table, .wef_movieEditor_dialog tbody,
	.wef_movieEditor_dialog tr, .wef_movieEditor_dialog th,
	.wef_movieEditor_dialog td {
	padding: 0;
	margin: 0;
	line-height: 1.2em;
}

.wef_movieEditor_dialog .wef_fieldset {
	margin: 0.1em;
	padding: 0.1em;
	line-height: 0.75em;
}