.wefInsertSourceForm_input {
	width: 100%;
}

.wefInsertSourceForm_list {
	margin-top: 1em;
	width: 100%;
	height: 400px;
	overflow-x: auto;
	overflow-y: scroll;
}

.wefInsertSourceForm_list_item {
	padding: 0.5em 1em;
	text-align: left;
	color: inherit !important;
	width: calc(100% - 50px) !important;
}

.wefInsertSourceForm_list_item a {
	pointer-events: none;
}

.wefInsertSourceForm_list_item_id {
	margin-left: 0.5em;
	margin-right: 0.5em;
	color: gray;
	font-size: 80%;
}

.wefInsertSourceForm_list_item_parenthesis {
	color: gray;
	font-size: 80%;
}

.wefInsertSourceForm_list_item_types {
	color: gray;
	font-size: 80%;
}