.wef_personEditor_dialog table, .wef_personEditor_dialog tbody,
	.wef_personEditor_dialog tr, .wef_personEditor_dialog th,
	.wef_personEditor_dialog td {
	padding: 0;
	margin: 0;
}

.wef_personEditor_dialog .wef_fieldset {
	margin: 0.1em;
	padding: 0.1em;
	line-height: 0.75em;
}