td.wef_datavalue_wikibase-item_readonly {
  min-width: 99%;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.wef_datavalue_wikibase-item select {
  width: 100%;
}

.wef_datavalue_wikibase-item input {
  width: 100%;
}
