.buttonCell {
	padding: 0;
	margin: 0;
	width: 24px;
	height: 20px;
}

.buttonCell td {
	vertical-align: middle;
}

.buttonCell .ui-button {
	vertical-align: middle;
}

.buttonCell :global .ui-button {
	margin: 0 0.1em !important;
	box-shadow: none;
	width: 24px;
	height: 20px;
}

.buttonCell :global .ui-button :global .ui-button-text {
	padding: 0 0.5em !important;
}
