
/* Labels editor */
.wef_labels_description_area {
	padding: 0 1em !important;
}

.wef_labels_description_area legend select {
	vertical-align: middle;
}

.wef_labels_description_area th {
	text-align: left;
	vertical-align: middle;
	white-space: nowrap;
}

.wef_labels_description_area td, .wef_labels_description_area input {
	width: 100%;
}

/*Properties level */
.wef-rankselector-menu {
	width: 100%;
}

.wef-rankselector-menu option {
	padding: 0.25em;
}

.wef_property_editor_column_cell {
	min-width: 150px;
}

.wef_property_editor_column_table {
	width: 100%;
}

.wef_columns_table {
	width: 100%;
}

/*Snak level */
.wef_snak_table {
	width: 100%;
}

.wef_snak_table_value_editor_cell {
	width: 100%;
}

.wef_snak_type_label {
	font-style: italic;
	white-space: nowrap;
}

/* Snak value level -- per types */
.wef_string, .wef_url {
	width: 99%;
}

/*Snak value level -- per types: GLOBE-COORDINATE */
.wef_globecoordinate_table th {
	text-align: left;
	padding-right: 1em;
	padding-left: 0.5em;
}

.wef_globecoordinate_table input, .wef_globecoordinate_table select {
	width: 14em;
}

/*Snak value level -- per types: QUANTITY */
.wef_quantity_table th {
	text-align: left;
}

/*Snak value level -- per types: TIME */
.wef_time_table th {
	text-align: left;
}

.wef_snak_value_editor_time input, .wef_snak_value_editor_time select {
	width: 15em;
}

/*Snak value level -- per types: TIME-DAYS */
.wef_snak_value_editor_time-days {
	white-space: nowrap;
}

.wef_time_day {
	width: 3em;
}

.wef_time_year {
	width: 8em;
}

.wef_property_editor_column_table .wef_time_oldstyle_span:before {
	content: '\A';
	white-space: pre;
}

/*Snak value level -- per types: TIME-MONTHS */
.wef_snak_value_editor_time-months {
	white-space: nowrap;
}

.wef_snak_value_editor_time-months input {
	width: 6em;
}

/*Snak value level -- per types: TIME-YEARS */
.wef_snak_value_editor_time-years {
	white-space: nowrap;
}

.wef_snak_value_editor_time-years input {
	width: 6em;
}

.wef_editor_menu {
	border: 1px solid #CCC;
	position: absolute;
	z-index: +1;
}

.wef_editor_menu option {
	padding: 0.25em;
}

/* Qualifiers only */
.wef_qualifiers {
	width: 100%;
}

.wef_qualifiers_select_cell {
	width: 1px;
	font-weight: bold;
	white-space: nowrap;
}

/* References */
.wef_reference_editor {
	width: 100%;
	border-bottom: thin dotted #000000;
}

.wef_reference_editor_ref {
	cursor: pointer;
}

.wef_reference_editor_table {
	padding-top: 2em;
}

.wef_references_editor_dialog :global .ui-dialog-buttonset {
	float: none !important;
}

/** Editors */
.wef_editor_dialog table, .wef_editor_dialog tbody, .wef_editor_dialog tr,
	.wef_editor_dialog th, .wef_editor_dialog td {
	padding: 0;
	margin: 0;
	line-height: 1.2em;
}

.wef_editor_dialog .wef_fieldset {
	margin: 0.1em;
	padding: 0.1em;
	line-height: 0.75em;
}

/* i18n support -- empty classes for anchoring */
.wef_i18n_label {}
.wef_i18n_description {}
.wef_i18n_description_as_title {}
