/* align button to left */
.importDataButton {
  position: absolute;
  left: 1em;
}

/* table are used for layout*/
.wef_dialog table, .wef_dialog tbody, .wef_dialog tr,  .wef_dialog th, .wef_dialog td {
	padding: 0;
	margin: 0;
	border: 0;
}

.wef_dialog input {
	box-sizing: border-box;
}
