.container {
  position: relative;
  display: inline-block;
}

.suggestionsContainer {
  display: none;
}

.containerOpen .suggestionsContainer {
  display: block;
  position: absolute;
  width: 14em;
  height: 10em;
  overflow-y: auto;
  border: 1px solid #aaa;
  background-color: #fff;
  z-index: 2;
}

.suggestionsList {
  margin: 0;
  padding: 0;
  list-style-image: none;
  list-style-type: none;
}

.suggestion {
  cursor: pointer;
  padding: 2px 4px;
}

.suggestion:not(:first-child) {
  border-top: 1px solid #ddd;
}

.suggestionHighlighted {
  background-color: #0C7EAF;
  color: #fff;
}

.suggestionContent {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
}

.suggestionContentText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.provided {
  font-weight: bold;
}

.highlight {
  color: #ee0000;
  font-weight: bold;
}
